.form {
    margin: 10px auto 30px;
    gap: 50px;
}
.form input {
    display: block;
    padding: 5px 10px;
    border: none;
    outline: none;
    transition: border-color 0.4s ease;
    border: 1px solid transparent;
    margin-bottom: 10px;
}
.form input:focus {
    border-color: aqua;
}
.btn {
    padding: 6px 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 8px;
}
.btn:hover {
    background-color: #bcd1e6;
}
